body{
    background:linear-gradient(to left,#CC7A00,#3a3a3a,#000);
}
#calculadora{
    color: #000000;
    border: 1px solid #43484B ;
    background: #1E2021;
}

#visor{
    color: #ffffff;
    background: #313537;
}

.botao{
    color: #ffffff;
    border: 1px solid #43484B;
    background: #2A2D2F;
}

.botao:hover{
    background-color: #3D4245;
}

.operacao{
    color: #FFFFFF;
    border: 1px solid #B15201;
    background-color: #CC7A00;
}

.operacao:hover{
    background-color: #B15201;
}

#resultado{
    color:#ffffff;
    scrollbar-color: #1E2021 #3D4245;
}
