body{
    background:linear-gradient(to left,#ff9900,#f8cc89,#ffffff);
}

#calculadora{
    color: #000000;
    border: 1px solid #43484B ;
    background: #f5f5f5;
}

#visor{
    color: #000;
    background: #D3D3D3;
}

.botao{
    color: #000;
    border: 1px solid #BDBDBD;
    background: #e0e0e0;
}

.botao:hover{
    background-color: #BEBEBE;
}

.operacao{
    color: #000;
    border: 1px solid #EF6C00;
    background-color: #FF9800;
}

.operacao:hover{
    background-color: #EF6C00;
}

#resultado{
    color:#000;
    scrollbar-color: #E0E0E0 #BEBEBE;
}